{% extends "registration-form.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}

    <div class="container-fluid content">
    	<div class="row">
    		<div id="content" class="col-sm-12 full">
    			<div class="row">
    				<div class="login-box">
    					<div class="header">Login</div>
    					<form class="form-horizontal register" action='{% url 'accounts:login' %}' method="post" id="login-form">
								{% csrf_token %}
    						<fieldset class="col-sm-12">
    							<div class="form-group">
    							  <div class="controls row">
    									<div class="input-group col-sm-12">
                        <p>Email address</p>
                        <input id="id_username" name="username" type="text" class="form-control">
    									</div>
    							  </div>
    							</div>
                  <div class="form-group">
                    <div class="controls row">
                      <div class="input-group col-sm-12">
                        <p>Password</p>
                        <input id="id_password" name="password" type="password" class="form-control">
                      </div>
                    </div>
                  </div>
                  {% if form.errors %}
                    <p class=" label label-danger">
                        Your username and password didn't match. Please try again.
                    </p>
                  {% endif %}

                  <div class="form-group">
                    <p>Forgot your password?
                    <a href="/resetpassword/">Reset it!</a>
                    </p>
                  </div>

    							<div class="confirm">
    								<input type="checkbox" name="agree"/>
    								<label for="agree">I agree to <a href="page-register.html#">Term of Use</a></label>
    							</div>

    							<div class="row">
  								  <button type="submit" class="btn btn-primary btn-lg col-xs-12">Login</button>
                    <input type="hidden" name="next" value="{{ next }}"/>
  							  </div>

    							<div class="text-with-hr">
    								<span>or use your facebook account</span>
    							</div>

  						</fieldset>
  					</form>
  					<p>
  						
                <span>Register via Facebook</span>
              </a>
  					</p>
  				</div>
  			</div>
  		</div>
		</div>
	</div>
{% endblock %}
