{% extends "registration-form.html" %}
{% load l10n %}

{% block content %}

<div class="container-fluid content">
  <div class="row">
    <div id="content" class="col-sm-12 full">
      <div class="row">
        <div class="login-box">
          <div class="header">Registration is success</div>
            <h2 align="center"><a href="{% url 'pupil:group_overview' %}">GROUPS OVERVIEW</a></h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
