{% load staticfiles %}
{% load i18n %}
<!-- { load socialaccount } -->
<!-- { providers_media_js } -->

<!DOCTYPE html>
<html lang="en">
	<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="University">
    <meta name="author" content="SwY">
    <meta name="keyword" content="University, Student, Lector">

    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- page css files -->
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/jquery-ui.min.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/style.min.css' %}" rel="stylesheet">
    <script src="{% static "js/jquery-2.1.0.min.js" %}"></script>
    <script src="{% static 'js/jquery.multi-select.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/jquery.quicksearch.js' %}" type="text/javascript"></script>
    <link href="{% static 'css/multi-select.css' %}" media="screen" rel="stylesheet" type="text/css">
	</head>

  <body>

		{% block content %}

    <div class="container-fluid content">
    	<div class="row">
    		<div id="content" class="col-sm-12 full">
    			<div class="row">
    				<div class="login-box">
    					<div class="header">Create your account</div>

    					<form class="form-horizontal register" id='password_validator' action='' method="post">
								{% csrf_token %}
    						<fieldset class="col-sm-12">

									<div class="form-group">
										<div class="controls row">
											<label for="sel1">Select who are you:</label>
											<select class="form-control" id="select1">
												<option value='1'>Pupil</option>
												<option value='2'>Lector</option>
											</select>
										</div>
									</div>

    							<div class="form-group">
    							  <div class="controls row">
    									<div class="input-group col-sm-12">
                        {{ account_form.first_name.label_tag }}
                        {{ account_form.first_name.errors }}
                        {{ account_form.first_name }}
    									</div>
    							  </div>
    							</div>
                  <div class="form-group">
                    <div class="controls row">
                      <div class="input-group col-sm-12">
                        {{ account_form.last_name.label_tag }}
                        {{ account_form.last_name.errors }}
                        {{ account_form.last_name }}
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="controls row">
                      <div class="input-group col-sm-12">
                        {{ account_form.mobile.label_tag }}
                        {{ account_form.mobile.errors }}
                        {{ account_form.mobile }}
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="controls row">
                      <div class="input-group col-sm-12">
                        {{ account_form.email.label_tag }}
                        {{ account_form.email.errors }}
                        {{ account_form.email }}
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="controls row">
                      <div class="input-group col-sm-12">
                        {{ account_form.univer.label_tag }}
                        {{ account_form.univer.errors }}
                        {{ account_form.univer }}
                      </div>
                    </div>
                  </div>
									<div class="form-group">
										<div class="controls row">
											<div class="input-group col-sm-12">
												{{ account_form.remarks.label_tag }}
												{{ account_form.remarks.errors }}
												{{ account_form.remarks }}
											</div>
										</div>
									</div>

				          <div class="form-group">
                    <div class="controls row">
                      <div class="input-group col-sm-12">
												{{ account_form.password1.label_tag }}
												{{ account_form.password1.errors }}
												{{ account_form.password1 }}
                      </div>
                    </div>
                  </div>
									<div class="form-group">
										<div class="controls row">
											<div class="input-group col-sm-12">
												{{ account_form.password2.label_tag }}
												{{ account_form.password2.errors }}
												{{ account_form.password2 }}
											</div>
										</div>
									</div>

									<div class="form-group" id="form_lector" style="display:none">
										<div class="controls row">
											<div class="input-group col-sm-12">
												{{ lector_form.subject.errors }}
												{{ lector_form.subject }}
												{{ lector_form.subject.label_tag }}
											</div>
										</div>
									</div>

    							<div class="confirm">
    								<input type="checkbox" name="agree"/>
    								<label for="agree">I agree to <a href="">Term of Use</a></label>
    							</div>

    							<div class="row">
  								  <button type="submit" class="btn btn-primary btn-lg col-xs-12">Create Account</button>
  							  </div>
  							</fieldset>

							<fb:login-button scope="public_profile,email" onlogin="checkLoginState();"></fb:login-button>
							<div id="status"></div>
							<!-- <a href="{ provider_login_url "facebook" method="js_sdk" }">Facebook Connect</a> -->

  					</form>
					</div>
  			</div>
  		</div>
		</div>
	</div>

{% endblock %}

  <!-- start: JavaScript-->
  <script src="{% static 'js/jquery-2.1.0.min.js' %}"></script>
  <script src="{% static 'js/jquery.icheck.min.js' %}"></script>
  <script src="{% static "js/bootstrap.min.js" %}"></script>
  <script src="{% static "js/jquery-migrate-1.2.1.min.js" %}"></script>
	<script src="{% static "js/jquery.validate.js" %}"></script>

	<script>
	$('.register').validate({
		    rules: {
		        password1: {
		            required: true,
		            minlength: 5
		        },
		        password2: {
		            required: true,
		            minlength: 5,
		            equalTo: "#password1"
		        },
		    },
		    messages: {

		        password1: {
		            required: "Please provide a password",
		            minlength: "Your password must be at least 5 characters long"
		        },
		        password2: {
		            required: "Please provide a password",
		            minlength: "Your password must be at least 5 characters long",
		            equalTo: "Please enter the same password as above"
		        },
		    }
		});
	</script>


	<script>
	  // This is called with the results from from FB.getLoginStatus().
	  function statusChangeCallback(response) {
	    console.log('statusChangeCallback');
	    console.log(response);
	    // The response object is returned with a status field that lets the
	    // app know the current login status of the person.
	    // Full docs on the response object can be found in the documentation
	    // for FB.getLoginStatus().
	    if (response.status === 'connected') {
	      // Logged into your app and Facebook.
	      testAPI();
	    } else if (response.status === 'not_authorized') {
	      // The person is logged into Facebook, but not your app.
	      document.getElementById('status').innerHTML = 'Please log ' +
	        'into this app.';
	    } else {
	      // The person is not logged into Facebook, so we're not sure if
	      // they are logged into this app or not.
	      document.getElementById('status').innerHTML = 'Please log ' +
	        'into Facebook.';
	    }
	  }

	  // This function is called when someone finishes with the Login
	  // Button.  See the onlogin handler attached to it in the sample
	  // code below.
	  function checkLoginState() {
	    FB.getLoginStatus(function(response) {
	      statusChangeCallback(response);
	    });
	  }

	  window.fbAsyncInit = function() {
	  FB.init({
	    appId      : '1728981717357260',
	    cookie     : true,  // enable cookies to allow the server to access
	                        // the session
	    xfbml      : true,  // parse social plugins on this page
	    version    : 'v2.5' // use graph api version 2.5
	  });

	  // Now that we've initialized the JavaScript SDK, we call
	  // FB.getLoginStatus().  This function gets the state of the
	  // person visiting this page and can return one of three states to
	  // the callback you provide.  They can be:
	  //
	  // 1. Logged into your app ('connected')
	  // 2. Logged into Facebook, but not your app ('not_authorized')
	  // 3. Not logged into Facebook and can't tell if they are logged into
	  //    your app or not.
	  //
	  // These three cases are handled in the callback function.

	  FB.getLoginStatus(function(response) {
	    statusChangeCallback(response);
	  });

	  };

	  // Load the SDK asynchronously
	  (function(d, s, id) {
	    var js, fjs = d.getElementsByTagName(s)[0];
	    if (d.getElementById(id)) return;
	    js = d.createElement(s); js.id = id;
	    js.src = "//connect.facebook.net/en_US/sdk.js";
	    fjs.parentNode.insertBefore(js, fjs);
	  }(document, 'script', 'facebook-jssdk'));

	  // Here we run a very simple test of the Graph API after login is
	  // successful.  See statusChangeCallback() for when this call is made.
	  function testAPI() {
	    console.log('Welcome!  Fetching your information.... ');
	    FB.api('/me', function(response) {
	      console.log('Successful login for: ' + response.name);
	      document.getElementById('status').innerHTML =
	        'Thanks for logging in, ' + response.name + '!';
	    });
	  }
	</script>

	<!--
	  Below we include the Login Button social plugin. This button uses
	  the JavaScript SDK to present a graphical Login button that triggers
	  the FB.login() function when clicked.
	-->

	<script>

	$("#select1").change(function() {
		if ($('#select1 option:selected').text() == 'Lector')
			$('#form_lector').attr("style", "display:block");
		else
			$('#form_lector').attr("style", "display:none");
  });

	</script>

  <!-- page scripts -->
  <script src="{% static "js/jquery-ui.min.js" %}"></script>

  <!-- theme scripts -->
  <script src="{% static "js/custom.min.js" %}"></script>
  <script src="{% static "js/core.min.js" %}"></script>
  <script src="{% static "js/pages/login.js" %}"></script>

	</body>
</html>
