{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}<h1>Universities overview</h1>{% endblock %}

{% block content %}

<div class="panel panel-info">
  <div class="panel-heading">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        <i class="fa fa-search save_panel"></i>
      </button>
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="exampleModalLabel">Find by title</h4>
            </div>
            <form action='' method='GET'>
              <div class="modal-body">
                  <div class="form-group">
                    <label for="recipient-name" class="control-label">Your word:</label>
                    <input type="text" class="form-control" id="search-title" name='query_univ'>
                  </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Find</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <a href="{% url 'university:add' %}">
      <button class="btn btn-success">
          <i class="fa fa-plus-square" aria-hidden="true"></i>
      </button>
      </a>
    </div>

  <div class="panel-body no-padding-bottom">
    <div class="tab-content">
      {% if not universities %}
        <p>{% trans "Please add some universities" %}</p>
      {% else %}
        <table class="table table-bordered table-striped table-condensed">
          <thead>
            <tr>
              <th>{% trans 'Title' %}</th>
              <th>{% trans 'City' %}</th>
              <th>{% trans 'Country' %}</th>
              <th>{% trans 'Address' %}</th>
              <th>{% trans 'Fax' %}</th>
              <th>{% trans 'Phone' %}</th>
              <th>{% trans 'Email' %}</th>
              <th>{% trans 'Total number of students' %}</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for university in universities %}

                <tr id = '{{ university.id }}'>
                  <td>{{ university.title }}</td>
                  <td>{{ university.city }}</td>
                  <td>{{ university.country }}</td>
                  <td>{{ university.address }} </td>
                  <td>{{ university.fax }}</td>
                  <td>{{ university.phone }}</td>
                  <td>{{ university.glob_email }}</td>
                  <td>{{ university.num_stud }}</td>
                  <td>
                      <a href="{% url 'university:edit' university.id %}">
                          <button class="btn btn-primary">
                              <i class="fa fa-pencil-square"></i>
                          </button>
                      </a>
                      <button data="{{ university.id }}" class="btn btn-danger remove-iniv" id=delete>
                              <i class="fa fa-trash-o"></i>
                      </button>
                  </td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}

{% block extra_script %}
<script>

$('.remove-iniv').click(function(){
   univ_id = $(this).attr('data');
   //var id = {{ university.id }};
   $.ajax({type: "POST",
          url: "{% url 'university:delete' %}",
          data: {university_id: univ_id },
          success: function(){
            $('#'+univ_id).remove();

      }});
});
</script>
{% endblock extra_script %}
