{% extends "base.html" %}
{% block title %}<h1><a href="{% url 'university:overview' %}">Universities</a></h1>{% endblock %}
{% block content %}

<div id="empty_form_contact" style="display:none">
  <div class="panel panel-info subject">
    <div class="panel-heading">
      <h2 class="col-md-10">Contact person</h2>
    </div>
      <div class="panel-body no-padding-bottom">
        <div class="tab-content">
          <div class="row">
           <div class="col-md-3 form-group">
             {{ contact_formset.empty_form.first_name.label_tag }}
             {{ contact_formset.empty_form.first_name.errors }}
             {{ contact_formset.empty_form.first_name }}

             {{ contact_formset.empty_form.last_name.label_tag }}
             {{ contact_formset.empty_form.last_name.errors }}
             {{ contact_formset.empty_form.last_name }}

             {{ contact_formset.empty_form.mobile.label_tag }}
             {{ contact_formset.empty_form.mobile.errors }}
             {{ contact_formset.empty_form.mobile }}

             {{ contact_formset.empty_form.email.label_tag }}
             {{ contact_formset.empty_form.email.errors }}
             {{ contact_formset.empty_form.email }}
           </div>
           <div class="col-md-6 form-group">
             {{ contact_formset.empty_form.remarks.label_tag }}
             {{ contact_formset.empty_form.remarks.errors }}
             {{ contact_formset.empty_form.remarks }}
           </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="empty_form_subject" style="display:none">
    <div class="panel panel-info subject">
      <div class="panel-heading">
        <h2 class="col-md-10">Subject</h2>
      </div>
        <div class="panel-body no-padding-bottom">
          <div class="tab-content">
            <div class="row">
             <div class="col-md-3 form-group">
               {{ subject_formset.empty_form.title.label_tag }}
               {{ subject_formset.empty_form.title.errors }}
               {{ subject_formset.empty_form.title }}

               {{ subject_formset.empty_form.university.label_tag }}
               {{ subject_formset.empty_form.university.errors }}
               {{ subject_formset.empty_form.university }}

               {{ subject_formset.empty_form.hours.label_tag }}
               {{ subject_formset.empty_form.hours.errors }}
               {{ subject_formset.empty_form.hours }}

            </div>
             <div class="col-md-6 form-group">
               {{ subject_formset.empty_form.description.label_tag }}
               {{ subject_formset.empty_form.description.errors }}
               {{ subject_formset.empty_form.description }}
             </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <form action='' id="edit_univer" method='POST'>
    {% csrf_token %}
    <div class="panel panel-info">
      <div class="panel-heading">
        <h2 class="col-md-10">University Info</h2>
      </div>
      <div class="panel-body no-padding-bottom">
        <div class="tab-content">
          <div class="row">
            <div class="col-md-3 form-group">
              {{ university_form.title.label_tag }}
              {{ university_form.title.errors }}
              {{ university_form.title }}

              {{ university_form.num_stud.label_tag }}
              {{ university_form.num_stud.errors }}
              {{ university_form.num_stud }}
            </div>
            <div class="col-md-3 form-group">

              {{ university_form.country.label_tag }}
              {{ university_form.country.errors }}
              {{ university_form.country }}

              {{ university_form.city.label_tag }}
              {{ university_form.city.errors }}
              {{ university_form.city }}

              {{ university_form.address.label_tag }}
              {{ university_form.address.errors }}
              {{ university_form.address }}
            </div>
            <div class="col-md-3 form-group">

              {{ university_form.phone.label_tag }}
              {{ university_form.phone.errors }}
              {{ university_form.phone }}

              {{ university_form.fax.label_tag }}
              {{ university_form.fax.errors }}
              {{ university_form.fax }}

              {{ university_form.glob_email.label_tag }}
              {{ university_form.glob_email.errors }}
              {{ university_form.glob_email }}
            </div>
          </div>
        </div>
      </div>
    </div>

    {{ contact_formset.management_form }}

     <div id="contact_form_set">
       {% for contactform in contact_formset %}
         <div class="panel panel-info subject">
           {{ contactform.id }}
           <div class="panel-heading">
             <h2 class="col-md-10">Contact person</h2>
           </div>
           <div class="panel-body no-padding-bottom">
             <div class="tab-content">
               <div class="col-md-3 form-group">
                 <div class="row">
                   {{ contactform.first_name.label_tag }}
                   {{ contactform.first_name.errors}}
                   {{ contactform.first_name }}
                 </div>
                 <div class="row">
                   {{ contactform.last_name.label_tag }}
                   {{ contactform.last_name.errors }}
                   {{ contactform.last_name }}
                 </div>
                 <div class="row">
                   {{ contactform.mobile.label_tag }}
                   {{ contactform.mobile.errors }}
                   {{ contactform.mobile }}
                 </div>
                 <div class="row">
                   {{ contactform.email.label_tag }}
                   {{ contactform.email.errors }}
                   {{ contactform.email }}
                 </div>
               </div>
               <div class="col-md-6 form-group">
                 {{ contactform.remarks.label_tag }}
                 {{ contactform.remarks.errors}}
                 {{ contactform.remarks }}
               </div>
             </div>
           </div>
         </div>
       {% endfor %}
      </div>
      <div class="col-md form-group">
        <input type="button" class="btn btn-primary" value="+" id="add_contact">
        <input type="button" class="btn btn-danger" value="-" id="delete_contact">
      </div>

      {{ subject_formset.management_form }}

       <div id="subject_form_set">
         {% for subjectform in subject_formset %}
           <div class="panel panel-info subject">
             {{ subjectform.id }}
             <div class="panel-heading">
               <h2 class="col-md-10">Subject</h2>
             </div>
             <div class="panel-body no-padding-bottom">
               <div class="tab-content">
                 <div class="col-md-3 form-group">
                   <div class="row">
                     {{ subjectform.title.label_tag }}
                     {{ subjectform.title.errors}}
                     {{ subjectform.title }}
                   </div>
                   <div class="row">
                     {{ subjectform.hours.label_tag }}
                     {{ subjectform.hours.errors }}
                     {{ subjectform.hours }}
                   </div>
                 </div>
                 <div class="col-md-6 form-group">
                   {{ subjectform.description.label_tag }}
                   {{ subjectform.description.errors}}
                   {{ subjectform.description }}
                 </div>
               </div>
             </div>
           </div>
         {% endfor %}
        </div>
        <div class="col-md form-group">
          <input type="button" class="btn btn-primary" value="+" id="add_subject">
          <input type="button" class="btn btn-danger" value="-" id="delete_subject">
      </form>
          <button type="submit" form="edit_univer" value="OK" class="btn btn-success btn-md">Submit</button>
        </div>

{% endblock %}

{% block extra_script %}
  <script>
     $("#add_contact").click(function() {
         var form_idx = $('#id_contact_set-TOTAL_FORMS').val();
         $('#contact_form_set').append($('#empty_form_contact').html().replace(/__prefix__/g, form_idx));
         $('#id_contact_set-TOTAL_FORMS').val(parseInt(form_idx) + 1);
     });

     $("#delete_contact").click(function() {
       var form_idx = $('#id_contact_set-TOTAL_FORMS').val();
       if ($('#id_contact_set-TOTAL_FORMS').val() > 1 && $('.panel.panel-info.contact:last').id !== 'empty_form_contact')
       {
           $('.panel.panel-info.contact:last').remove();
           $('#id_contact_set-TOTAL_FORMS').val(parseInt(form_idx) - 1);
       }
     });

     $("#add_subject").click(function() {
         var form_idx = $('#id_subject_set-TOTAL_FORMS').val();
         $('#subject_form_set').append($('#empty_form_subject').html().replace(/__prefix__/g, form_idx));
         $('#id_subject_set-TOTAL_FORMS').val(parseInt(form_idx) + 1);
     });

     $("#delete_subject").click(function() {

       var form_idx = $('#id_subject_set-TOTAL_FORMS').val();
       if ($('#id_subject_set-TOTAL_FORMS').val() > 1 && $('.panel.panel-info.subject:last').id !== 'empty_form_subject')
       {
           $('.panel.panel-info.subject:last').remove();
           $('#id_subject_set-TOTAL_FORMS').val(parseInt(form_idx) - 1);
       }
     });
  </script>
{% endblock extra_script %}
