{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
  <link href="{% static 'css/fullcalendar.css' %}" rel="stylesheet">
  <link href="{% static 'cupertino/jquery-ui.min.css' %}" rel="stylesheet">
  <script src="{% static 'js/moment.min.js' %}"></script>
  <script src="{% static 'js/fullcalendar.min.js' %}"></script>
  <script>
  	$(document).ready(function() {
  		$('#calendar').fullCalendar({
        theme: true,
  			header: {
  				left: 'prev,next today',
  				center: 'title',
  				right: 'month,agendaWeek,agendaDay'
  			},
        minTime: "8:00:00",
        maxTime : "24:00:00",
        slotEventOverlap: false,
        defaultView: 'agendaWeek',
  			selectable: true,
  			selectHelper: true,
        columnFormat: {
            week: 'ddd d/M'
        },
        allDaySlot: false,
        firstDay: 1,
        editable: true,
   			eventLimit: true, // allow "more" link when too many events
        eventStartEditable: false,
        events: "{% url 'lector:get_events' %}",
        timezone: "local",
        select: function(start, end, event, jsEvent, view) {
          var title = prompt('Event Title:', event.title, { buttons: { Ok: true, Cancel: false} });
          if (title){
            event.title = title;
          }
          $.ajax({
            url: "{% url 'lector:set_events' %}",
            type: 'POST',
            data: {
              event_id: event.id,
              start: start._d,
              end: end._d,
              title: event.title
            },
            success: function(response){
                    console.log(events);
              $('#calendar').fullCalendar();
            },
            error: function(e){
              alert('Error processing your request: ' + e.responseText);
            }
          });
        },

        eventResize: function(event, delta, revertFunc) {
          $.ajax({
            url: "{% url 'lector:resize_events' %}",
            type: 'POST',
            data: {
              event_id: event.id,
              end: event.end._i,
              delta: delta._milliseconds,
            },
            success: function(response){
              $('#calendar').fullCalendar('updateEvent', event);
            },
            error: function(e){
              alert('Error processing your request: ' + e.responseText);
           }
         });
        },

        eventRender: function (event, element) {
          element.attr('href', 'javascript:void(0);');
          element.click(function() {
            $("#startTime").html(moment(event.start).format('MMM Do h:mm A'));
            $("#endTime").html(moment(event.end).format('MMM Do h:mm A'));
            $("#eventInfo").html(event.description);
            $("#eventLink").attr('href', event.url);
            $("#eventContent").dialog({
              modal: true,
              title: event.title,
              width:350,
              buttons: {
                Edit: function() {
                  var title = $("#edit_title").val();
                  if (title){
                    event.title = title;
                  }
                  $.ajax({
                    url: "{% url 'lector:edit_events' %}",
                    type: 'POST',
                    data: {
                      status: 'edit',
                      event_id: event.id,
                      title: event.title,
                    },
                    success: function(response){
                      $('#calendar').fullCalendar('updateEvent', event);
                    }
                  });
                  $( this ).dialog( "close" );
                },

                Delete: function() {
                  $.ajax({
                    url: "{% url 'lector:edit_events' %}",
                    type: 'POST',
                    data: {
                      status: 'delete',
                      event_id: event.id,
                    },
                    success: function(response){
                      $('#calendar').fullCalendar('removeEvents', event.id);
                    },
                  });
                  $( this ).dialog( "close" );
                },
              }
               
            });
          });
        },


        // eventClick: function(event, jsEvent, view) {
        //   console.log(event);
        //   var title = prompt('Event Rename:', event.title, { buttons: { Ok: true, Cancel: false} });
        //   if (title){
        //     event.title = title;
        //   }
        //   $.ajax({
        //     url: "{% url 'lector:edit_events' %}",
        //     type: 'POST',
        //     data: {
        //       title: event.title,
        //     },
        //     success: function(response){
        //       if(response.status == 'success')
        //       $('#calendar').fullCalendar('updateEvent',event);
        //     },
        //     error: function(e){
        //       alert('Error processing your request: ' + e.responseText);
        //     }
        //   });
        // }

      });
  	});

  </script>

  <style>
    #calendar {
        max-width: 900px;
        margin: 0 auto;
    }
  </style>

  <div id='calendar'></div>

  <div id="eventContent" title="Event Details" style="display:none;">
    Start: <span id="startTime"></span><br>
    End: <span id="endTime"></span><br><br>
    <p id="eventInfo"></p>
    <p><strong><a id="eventLink" href="" target="_blank">Read More</a></strong></p>
    <input type="text" class="form-control" id="edit_title">
  </div>

{% endblock %}
