{% extends "base.html" %}
{% block title %}<h1><a href="{% url 'lector:overview' %}">Lectors</a></h1>{% endblock %}
{% load l10n %}
{% block content %}

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <form action='' id="edit_lector" method='POST'>
    {% csrf_token %}
    <div class="panel panel-info">
      <div class="panel-heading">
        <h2 class="col-md-10">Edit lector info</h2>
      </div>
      <div class="panel-body no-padding-bottom">
        <div class="tab-content">
          <div class="row">
            <div class="col-md-3 form-group">
              {{ lector_form.first_name.label_tag }}
              {{ lector_form.first_name.errors }}
              {{ lector_form.first_name }}

              {{ lector_form.last_name.label_tag }}
              {{ lector_form.last_name.errors }}
              {{ lector_form.last_name }}

              {{ lector_form.mobile.label_tag }}
              {{ lector_form.mobile.errors }}
              {{ lector_form.mobile }}

              {{ lector_form.email.label_tag }}
              {{ lector_form.email.errors }}
              {{ lector_form.email }}
            </div>
            <div class="col-md-3 form-group">
              {{ lector_form.remarks.label_tag }}
              {{ lector_form.remarks.errors }}
              {{ lector_form.remarks }}
            </div>
            <div class="col-md-3 form-group">
              {{ lector_form.univer.label_tag }}
              {{ lector_form.univer.errors }}
              {{ lector_form.univer }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-info" id="subjects_panel">
     <div class="panel-heading">
       <h2 class="col-md-10">Subjects</h2>
       </div>
       <div class="panel-body no-padding-bottom">
         <div class="tab-content" id="subjects">
           {% for subject in lector_form.subject %}
             {{ subject }}
             <br>
           {% endfor %}
         </div>
       </div>
     </div>
   </form>

    <button type="submit" form="edit_lector" value="OK" class="btn btn-success btn-md">Update</button>

{% endblock %}

{% block extra_script %}
<script>
   $('#univer_lector').change(function() {
   $('#subjects').empty();

   $.ajax({
       url: "{% url 'lector:add_subject' %}",
       type: "GET",
       data: { university: $(this).val() },

       success: function(responce) {
         responce.data.subjects.forEach(function(entry) {
           if (entry[2])
              $("#subjects").append("<label><input type='checkbox' name='subject' value="+entry[0]+" checked> "+entry[1]+"</label><br>");
           else
              $("#subjects").append("<label><input type='checkbox' name='subject' value="+entry[0]+"> "+entry[1]+"</label><br>");
         });
         $('#subjects_panel').attr("style", "display:block");
       }
   });
 });
</script>
{% endblock extra_script %}
