{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}<h1>Lectors overview</h1>{% endblock %}

{% block content %}

<div class="panel panel-info">
  <div class="panel-heading">
    <form class="form-inline pull-right" role="form">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search..." name='query_lector'>
      </div>
    </form>
    <a href="{% url 'lector:add' %}">
    <button class="btn btn-success">
        <i class="fa fa-plus-square" aria-hidden="true"></i>
    </button>
    </a>
  </div>
  <div class="panel-body no-padding-bottom">
    <div class="tab-content">
      {% if not lectors %}
        <p>{% trans "Please add some lectors" %}</p>
      {% else %}
        <table class="table table-bordered table-striped table-condensed">
          <thead>
            <tr>
              <th>{% trans 'First Name' %}</th>
              <th>{% trans 'Last Name' %}</th>
              <th>{% trans 'Mobile' %}</th>
              <th>{% trans 'Email' %}</th>
              <th>{% trans 'Remarks' %}</th>
              <th>{% trans 'University' %}</th>
              <th>{% trans 'Subjects' %}</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for lector in lectors %}

                <tr id = '{{ lector.id }}'>
                  <td>{{ lector.first_name }}</td>
                  <td>{{ lector.last_name }}</td>
                  <td>{{ lector.mobile }} </td>
                  <td>{{ lector.email }}</td>
                  <td>{{ lector.remarks }}</td>
                  <td>{{ lector.univer }}</td>
                  <!-- <td>{% for subject in lector.subject.all %} {{subject}} {% endfor %}</td> -->
                  <td>
                      <a href="{% url 'lector:edit' lector.id %}">
                          <button class="btn btn-primary">
                              <i class="fa fa-pencil-square"></i>
                          </button>
                      </a>
                      <button data="{{ lector.id }}" class="btn btn-danger remove-iniv" id=delete>
                              <i class="fa fa-trash-o"></i>
                          </button>
                  </td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}

{% block extra_script %}
<script>

$('.remove-iniv').click(function(){
   lect_id = $(this).attr('data');
   $.ajax({type: "POST",
          url: "{% url 'lector:delete' %}",
          data: {lector_id: lect_id },
          success: function(){
            $('#'+lect_id).remove();

      }});
});
</script>
{% endblock extra_script %}
