{% extends "base.html" %}
{% block title %}<h1><a href="{% url 'lector:overview' %}">Lectors overview</a></h1>{% endblock %}
{% load l10n %}
{% block content %}

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <form action='' id="add_lector" method='POST'>
    {% csrf_token %}
    <div class="panel panel-info">
      <div class="panel-heading">
        <h2 class="col-md-10">Add lector info</h2>
      </div>
      <div class="panel-body no-padding-bottom">
        <div class="tab-content">
          <div class="row">
            <div class="col-md-3 form-group">
              {{ account_form.first_name.label_tag }}
              {{ account_form.first_name.errors }}
              {{ account_form.first_name }}

              {{ account_form.last_name.label_tag }}
              {{ account_form.last_name.errors }}
              {{ account_form.last_name }}

              {{ account_form.mobile.label_tag }}
              {{ account_form.mobile.errors }}
              {{ account_form.mobile }}

              {{ account_form.email.label_tag }}
              {{ account_form.email.errors }}
              {{ account_form.email }}
            </div>
            <div class="col-md-3 form-group">
              {{ account_form.remarks.label_tag }}
              {{ account_form.remarks.errors }}
              {{ account_form.remarks }}
            </div>
            <div class="col-md-3 form-group">
              {{ account_form.univer.label_tag }}
              {{ account_form.univer.errors }}
              {{ account_form.univer }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-info" id="subjects_panel" style="display:none">
     <div class="panel-heading">
       <h2 class="col-md-10">Subjects</h2>
       </div>
       <div class="panel-body no-padding-bottom">
         <div class="tab-content" id="subjects">

         </div>
       </div>
     </div>
     <button type="submit" form="add_lector" value="OK" class="btn btn-success btn-md">Save</button>

{% endblock %}

{% block extra_script %}
  <script>
     $('#univer_lector').change(function() {
     $('#subjects').empty();

     $.ajax({
         url: "{% url 'lector:add_subject' %}",
         type: "GET",
         data: { university: $(this).val() },

         success: function(responce) {
           responce.data.subjects.forEach(function(entry) {
             $("#subjects").append("<label><input type='checkbox' name='subject' value="+entry[0]+"> "+entry[1]+"</label><br>");
           });
           $('#subjects_panel').attr("style", "display:block");
         }
     });
   });
  </script>
</form>
{% endblock extra_script %}
