{% extends "base.html" %}
{% load staticfiles %}
{% block title %}<h1><a href="{% url 'pupil:group_overview' %}">Groups overview</a></h1>{% endblock %}
{% load l10n %}
{% block content %}
  <h2>Group</h2>
  <p> Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
  {% for field in form %}
    {{ field.error }}

  {% endfor %}

  <form action='{% url "pupil:group" %}' method="post">
    {% csrf_token %}
    <table>
    {{ wizard.management_form }}
    {% if wizard.form.forms %}
        {{ wizard.form.management_form }}
        {% for form in wizard.form.forms %}
            {{ form }}
        {% endfor %}
    {% else %}
        {{ wizard.form }}
    {% endif %}
    </table>





    {% if wizard.steps.prev %}
    <ul class="pager">
      <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}"
       class="btn btn-primary btn-sm">To the beginning</button>
       <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.last }}"
        class="btn btn-primary btn-sm">To the end</button>
    </ul>
      <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}"
       class="btn btn-primary btn-sm">Previous</button>
    {% endif %}
      <input type="submit" value="Next" class="btn btn-success btn-sm"/>

  </form>









  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading"></div>
      <div class="panel-body">

        <div id="wizard1" class="wizard-type1">
          <ul class="steps">
            <li><a href="form-wizard.html#tab11" data-toggle="tab"><span class="badge badge-info">1</span> First</a></li>
            <li><a href="form-wizard.html#tab12" data-toggle="tab"><span class="badge badge-info">2</span> Second</a></li>
            <li><a href="form-wizard.html#tab13" data-toggle="tab"><span class="badge badge-info">3</span> Third</a></li>
          </ul>
          <div class="progress thin">
            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
          </div>

          <div class="tab-content">
            <div class="tab-pane" id="tab11">
              <form class="form-horizontal" role="form">
                <div class="form-group">
                  <label class="col-md-3 control-label" for="email-w1">Email</label>
                    <div class="col-md-9">
                        <input type="email" id="email-w1" name="email-w1" class="form-control" placeholder="Enter Email..">
                        <span class="help-block">Please enter your email</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="password-w1">Password</label>
                    <div class="col-md-9">
                        <input type="password" id="password-w1" name="password-w1" class="form-control" placeholder="Enter Password..">
                        <span class="help-block">Please enter your password</span>
                    </div>
                </div>
              </form>
            </div>



            <div class="tab-pane" id="tab12">

              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group has-feedback">
                      <label for="name-w1">Name</label>
                      <input type="text" class="form-control" id="name-w1" placeholder="Enter your name">
                    <span class="fa fa-asterisk form-control-feedback"></span>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group has-feedback">
                      <label for="ccnumber-w1">Credit Card Number</label>
                      <input type="text" class="form-control" id="ccnumber-w1" placeholder="0000 0000 0000 0000">
                    <span class="fa fa-asterisk form-control-feedback"></span>
                  </div>
                </div>
              </div>

            </div>


            <div class="tab-pane" id="tab13">

              <div class="form-group">
                <label for="company-w1">Company</label>
                <input type="text" class="form-control" id="company-w1" placeholder="Enter your company name">
              </div>


              <div class="form-group">
                <label for="country-w1">Country</label>
                <input type="text" class="form-control" id="country-w1" placeholder="Country name">
              </div>

              <div class="form-group">
                <div class="checkbox">
                  <label for="checkbox1-w1">
                  <input type="checkbox" id="checkbox1-w1" name="checkbox1-w1" value="option1"> I agree with <a href="form-wizard.html#">Terms</a></label>
                </div>
              </div>

            </div>
          </div>

          <div class="actions">
            <input type="button" class="btn btn-default button-previous" name="prev" value="Prev" />
            <input type="button" class="btn btn-success button-next" name="next" value="Next" />
            <input type="button" class="btn btn-primary button-finish" name="finish" value="Finish" style="display:none"/>
          </div>
        </div>
      </div>
    </div>
  </div>


{% endblock %}

{% block extra_script %}
  <script>
    $('.group_select').multiSelect({
    selectableHeader: "<input type='text' class='search-input' autocomplete='off'>",
    selectionHeader: "<input type='text' class='search-input' autocomplete='off'>",
    afterInit: function(ms){
      var that = this,
          $selectableSearch = that.$selectableUl.prev(),
          $selectionSearch = that.$selectionUl.prev(),
          selectableSearchString = '#'+that.$container.attr('id')+' .ms-elem-selectable:not(.ms-selected)',
          selectionSearchString = '#'+that.$container.attr('id')+' .ms-elem-selection.ms-selected';

      that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
      .on('keydown', function(e){
        if (e.which === 40){
          that.$selectableUl.focus();
          return false;
        }
      });

      that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
      .on('keydown', function(e){
        if (e.which == 40){
          that.$selectionUl.focus();
          return false;
        }
      });
    },
    afterSelect: function(){
      this.qs1.cache();
      this.qs2.cache();
    },
    afterDeselect: function(){
      this.qs1.cache();
      this.qs2.cache();
    }
    });
  </script>

  <script src="{% static "js/pages/form-wizard.js" %}"></script>

{% endblock extra_script %}
