{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}<h1>Groups overview</h1>{% endblock %}

{% block content %}

<div class="panel panel-info">
  <div class="panel-heading">
    <form class="form-inline pull-right" role="form">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search..." name='query_group'>
      </div>
    </form>
    <a href="{% url 'pupil:group' %}">
    <button class="btn btn-success">
        <i class="fa fa-plus-square" aria-hidden="true"></i>
    </button>
    </a>
  </div>
  <div class="panel-body no-padding-bottom">
    <div class="tab-content">
      {% if not groups %}
        <p>{% trans "Please add some groups" %}</p>
      {% else %}
        <table class="table table-bordered table-striped table-condensed">
          <thead>
            <tr>
              <th>{% trans 'University' %}</th>
              <th>{% trans 'Curator' %}</th>
              <th>{% trans 'Subjects' %}</th>
              <th>{% trans 'Department' %}</th>
              <th>{% trans 'Maximum/minimum' %}</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for group in groups %}

                <tr id = '{{ group.id }}'>
                  <td>{{ group.univer }}</td>
                  <td>{{ group.curator }}</td>
                  <td>{% for subject in group.subject.all %} {{subject}} {% endfor %}</td>
                  <td>{{ group.department }}</td>
                  <td>{{ group.maximum }}/{{ group.minimum }}</td>
                  <td>
                      <a href="{% url 'pupil:group_edit' group.id %}">
                          <button class="btn btn-primary">
                              <i class="fa fa-pencil-square"></i>
                          </button>
                      </a>
                      <button data="{{ group.id }}" class="btn btn-danger remove-iniv" id=delete>
                              <i class="fa fa-trash-o"></i>
                          </button>
                  </td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}

{% block extra_script %}
<script>

$('.remove-iniv').click(function(){
   gr_id = $(this).attr('data');
   $.ajax({type: "POST",
          url: "{% url 'pupil:group_delete' %}",
          data: {group_id: gr_id },
          success: function(){
            $('#'+gr_id).remove();

      }});
});
</script>
{% endblock extra_script %}
