{% extends "base.html" %}
{% block title %}<h1><a href="{% url 'pupil:group_overview' %}">Groups</a></h1>{% endblock %}
{% load l10n %}
{% block content %}

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <form action='' id="edit_group" method='POST'>
    {% csrf_token %}
    <div class="panel panel-info">
      <div class="panel-heading">
        <h2 class="col-md-10">Add group info</h2>
      </div>
      <div class="panel-body no-padding-bottom">
        <div class="tab-content">
          <div class="row">
            <div class="col-md-3 form-group">
              {{ group_form.univer.label_tag }}
              {{ group_form.univer.errors }}
              {{ group_form.univer }}

              {{ group_form.curator.label_tag }}
              {{ group_form.curator.errors }}
              {{ group_form.curator }}

              {{ group_form.department.label_tag }}
              {{ group_form.department.errors }}
              {{ group_form.department }}
            </div>
            <div class="col-md-3 form-group">
              {{ group_form.maximum.label_tag }}
              {{ group_form.maximum.errors }}
              {{ group_form.maximum }}

              {{ group_form.minimum.label_tag }}
              {{ group_form.minimum.errors }}
              {{ group_form.minimum }}
            </div>
            <div class="col-md-3 form-group">
              {{ group_form.subject.label_tag }}
              {{ group_form.subject.errors }}
              {{ group_form.subject }}
            </div>
            <div class="col-md-3 form-group">
              {{ group_form.pupils.label_tag }}
              {{ group_form.pupils.errors }}
              {{ group_form.pupils }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

  <button type="submit" form="edit_group" value="OK" class="btn btn-success btn-md">Update</button>

{% endblock %}
