{% extends "base.html" %}
{% block title %}<h1><a href="{% url 'pupil:overview' %}">Pupils overview</a></h1>{% endblock %}
{% load l10n %}
{% block content %}

  <form action='' id="add_pupil" method='POST'>
    {% csrf_token %}
    <div class="panel panel-info">
      <div class="panel-heading">
        <h2 class="col-md-10">Add pupil info</h2>
      </div>
      <div class="panel-body no-padding-bottom">
        <div class="tab-content">
          <div class="row">
            <div class="col-md-3 form-group">
              {{ pupil_form.first_name.label_tag }}
              {{ pupil_form.first_name.errors }}
              {{ pupil_form.first_name }}

              {{ pupil_form.last_name.label_tag }}
              {{ pupil_form.last_name.errors }}
              {{ pupil_form.last_name }}

              {{ pupil_form.mobile.label_tag }}
              {{ pupil_form.mobile.errors }}
              {{ pupil_form.mobile }}

              {{ pupil_form.email.label_tag }}
              {{ pupil_form.email.errors }}
              {{ pupil_form.email }}
            </div>
            <div class="col-md-3 form-group">
              {{ pupil_form.remarks.label_tag }}
              {{ pupil_form.remarks.errors }}
              {{ pupil_form.remarks }}
            </div>
            <div class="col-md-3 form-group">
              {{ pupil_form.univer.label_tag }}
              {{ pupil_form.univer.errors }}
              {{ pupil_form.univer }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <button type="submit" form="add_pupil" value="OK" class="btn btn-success btn-md">Save</button>

{% endblock %}
