{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}<h1>Pupils overview</h1>{% endblock %}

{% block content %}

<div class="panel panel-info">
  <div class="panel-heading">
    <form class="form-inline pull-right" role="form">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search..." name='q'>
      </div>
    </form>
    <a href="{% url 'pupil:add' %}">
    <button class="btn btn-success">
        <i class="fa fa-plus-square" aria-hidden="true"></i>
    </button>
    </a>
  </div>
  <div class="panel-body no-padding-bottom">
    <div class="tab-content">
      {% if not pupils %}
        <p>{% trans "Please add some pupils" %}</p>
      {% else %}
        <table class="table table-bordered table-striped table-condensed">
          <thead>
            <tr>
              <th>{% trans 'First Name' %}</th>
              <th>{% trans 'Last Name' %}</th>
              <th>{% trans 'Mobile' %}</th>
              <th>{% trans 'Email' %}</th>
              <th>{% trans 'Remarks' %}</th>
              <th>{% trans 'University' %}</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for pupil in pupils %}

                <tr id = '{{ pupil.id }}'>
                  <td>{{ pupil.first_name }}</td>
                  <td>{{ pupil.last_name }}</td>
                  <td>{{ pupil.mobile }} </td>
                  <td>{{ pupil.email }}</td>
                  <td>{{ pupil.remarks }}</td>
                  <td>{{ pupil.univer }}</td>
                  <td>
                      <a href="{% url 'pupil:edit' pupil.id %}">
                          <button class="btn btn-primary">
                              <i class="fa fa-pencil-square"></i>
                          </button>
                      </a>
                      <button data="{{ pupil.id }}" class="btn btn-danger remove-iniv" id=delete>
                              <i class="fa fa-trash-o"></i>
                          </button>
                  </td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}

{% block extra_script %}
<script>

$('.remove-iniv').click(function(){
   pup_id = $(this).attr('data');
   $.ajax({type: "POST",
          url: "{% url 'pupil:delete' %}",
          data: {pupil_id: pup_id },
          success: function(){
            $('#'+pup_id).remove();

      }});
});
</script>
{% endblock extra_script %}
