{% extends "base.html" %} {% load i18n %} 

{% block content %}
	<div class="container-fluid content">
		<div class="row">
				<div id="content" class="col-sm-12 full">
			
			<div class="row box-error">
				
				<div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3">
				
					<h1>500</h1>
					<h2>Huston, we have a problem!</h2>
					<p>The page you are looking for is temporarily unavailable.</p>

					<div class="input-prepend input-group">
						<span class="input-group-addon clear"><i class="fa fa-search"></i></span>
						<input id="prependedInput" class="form-control" size="16" type="text" placeholder="What are you looking for?">
						<span class="input-group-btn">
							<button class="btn btn-info" type="button">Search</button>
						</span>
				 	</div>
					
				</div><!--/col-->
				
			</div><!--/row-->
		
		</div><!--/content-->	
				
				</div><!--/row-->		
		
	</div><!--/container-->

{% endblock %}